#root{
  height: 100%;
  display: flex;
  background: blue;
  justify-content: space-around;
  margin-bottom: 0;
}
.root_section{
  display: block;
  min-height: 110%;
  height: 115%;
  width: 100%;
  margin: auto;
  padding: 0;
  position: relative;
  background: #F7F7F7;
  justify-content: center;
}

.root_section_div{
  background: white;
  height: auto;
  width: 40%;
  justify-content: center;
  align-self: center;
  display: flex;
  margin: auto;
  margin-top: 130px;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  box-shadow: -0 1px 3px rgba(34, 40, 49,0.1);
}
.root_section_div_form{

}
.root_section_div_form_tittle{
  margin: auto;
  justify-content: center;
  display: block;
}
.root_section_div_form_tittle > img{
  width: 50px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.root_section_div_form_tittle > h2{
  text-align: center;
}
.login_form{
  width: 235px;
}
.login_form > input{
  width: calc(100% - 18px);
  padding: 8px;
}
.form_bottom{
  display: block;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.form_bottom > button{
  padding: 6px 25px;
  width: 100%;
}
.checkbox{
  float: left;
}
.remember_div{
  display: flex;
  align-items: center;
}
.remember_div > p{
  margin-block-start: 0;
  margin-block-end: 0;
}
.forgot_password{
  margin-top: 30px;
  text-align: center;
  font-size: 10pt;
}

.root_section_div2{
  background: white;
  height: auto;
  width: 40%;
  justify-content: center;
  align-self: center;
  display: flex;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  box-shadow: -0 1px 3px rgba(34, 40, 49,0.1);
}
.terms-conditions_form{
  align-items: center;
  display: flex;
  padding-top: 10px;
}
.terms-conditions_form > p{
  font-size: 7pt;
}
